@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: 'Montserrat';
}

body {
  background: url("./background.jpg");
}

.task {
  margin-top: 30px;
}

.question {
  margin-bottom: 10px;
  font-weight: 500;
}

.answer {
  color: rgb(26, 26, 26);
}
